$button-color_default-bg-default: var(--snow-cyan-6);
$button-color_default-bg-hover: var(--snow-cyan-5);
$button-color_default-bg-active: var(--snow-cyan-7);
$button-color_default-text-default: var(--snow-white);